alias ss="git status"
alias pull="git pull"
alias push="git push"
alias stash="git stash"
alias log="git log -n"
alias co="git checkout"

# misspellings
alias gti="git"
alias gits="git s"
alias exti="exit"
alias claer="clear"
