[color]
	ui = true
[color "diff"]
        meta = yellow bold
        frag = cyan bold
        old = red bold
        new = green bold
[core]
	excludesfile = $HOME/.gitignore
	autocrlf = input
	safecrlf = true
[alias]
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        s = status
        f = flow
        d = diff
        di = diff --cached
        co = checkout
        ci = commit
