[color]
    ui = true
[color "diff"]
    meta = yellow bold
    frag = cyan bold
    old = red bold
    new = green bold
[core]
    excludesfile = ~/.gitignore
#    autocrlf = input
#    safecrlf = true
[push]
    default = current
[alias]
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    l = log -1 --oneline
    s = status
    f = flow
    d = diff
    di = diff --cached
    co = checkout
    ci = commit
    b = branch
[apply]
    whitespace = strip

[rerere]
    enabled = true
[user]
    name = Marco Rogers
#     email =
