[color]
        ui = true
[color "diff"]
        meta = yellow bold
        frag = cyan bold
        old = red bold
        new = green bold
[core]
        excludesfile = /Users/polotek/.gitignore
        autocrlf = input
        safecrlf = true
[push]
        default = current
[user]
        name = Marco Rogers
[alias]
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        b = branch
        d = diff
        f = flow
        s = status
        di = diff --cached
        co = checkout
        ci = commit
